.entry-rank {
  line-height: 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  margin-right: 1rem;
  font-weight: 700;
}

.entry-name {
  font-size: 16px;
  font-weight: 500;
}

.entry-score {
  height: auto !important;
}

.prediction:not(:first-of-type) {
  padding-top: 5px;
}
