.no-border {
  border: none !important;
}

/*LANDR colors*/
.neutral {
  background-color: #0c1b2b !important;
}

.primary {
  background-color: #32cbcb !important;
}

.warning {
  background-color: #eec200 !important;
}

.danger {
  background-color: #e11534 !important;
}
